################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/src/.vs
/src/Common45/bin
/src/Common45/obj
/src/Common461/bin
/src/Common461/obj
/src/CsvOutputExtensions45/bin
/src/CsvOutputExtensions45/obj
/src/CsvOutputExtensions461/bin
/src/CsvOutputExtensions461/obj
/src/ExcelOutputExtensions45/bin
/src/ExcelOutputExtensions45/obj
/src/ExcelOutputExtensions461/bin
/src/ExcelOutputExtensions461/obj
/src/StringExtensions45/bin
/src/StringExtensions45/obj
/src/StringExtensions461/bin
/src/StringExtensions461/obj
