################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/src/.vs/config
/src/Common45/bin/Release
/src/Common45/obj/Release
/src/Common461/bin/Release
/src/Common461/obj/Release
/src/CsvOutputExtensions45/bin/Release
/src/CsvOutputExtensions45/obj/Release
/src/CsvOutputExtensions461/bin/Release
/src/CsvOutputExtensions461/obj/Release
/src/ExcelOutputExtensions45/bin/Release
/src/ExcelOutputExtensions45/obj/Release
/src/ExcelOutputExtensions461/bin/Release
/src/ExcelOutputExtensions461/obj/Release
/src/StringExtensions45/bin/Release
/src/StringExtensions45/obj/Release
/src/StringExtensions461/bin/Release
/src/StringExtensions461/obj/Release
/src/UsefulDataToolsTests/bin/Release
/src/UsefulDataToolsTests/obj/Release
/src/XmlOutputExtensions45/bin/Release
/src/XmlOutputExtensions45/obj/Release
/src/XmlOutputExtensions461/bin/Release
/src/XmlOutputExtensions461/obj/Release
