################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/src/packages
/src/.vs
bin/
obj/
ExcelApi.dll
OfficeApi.dll
NetOffice.dll
VBIDEApi.dll
stdole.dll
ExcelApi.xml
OfficeApi.xml
NetOffice.xml
VBIDEApi.xml
